{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^react",
    "<THIRD_PARTY_MODULES>",
    "^@/api/(.*)$",
    "^@/utils/(.*)$",
    "^@/hooks/(.*)$",
    "^@/types/(.*)$",
    "^@/constants/(.*)$",
    "^@/components/(.*)$",
    "^@/pages/(.*)$",
    "^@/routes/(.*)$",
    "^@/stores/(.*)$",
    "^@/assets/(.*)$",
    "^@/styles/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true
}
